* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
    scroll-behavior: smooth;
}
body {
    min-height: 100%;
    background-image: linear-gradient(90deg, #e3f2fd, #bbdefb, #90caf9);
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(90deg, #90caf9, #bbdefb, #e3f2fd);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    position: sticky;
    top: 0;
  }

  #logo {
    width: 75px;
    border-radius: 37.5px;
    border: 1px solid whitesmoke;
    box-shadow: 0px 0px 6px #cbf3f0;
  }
  
  
  .menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    margin-right: 2rem;
  }
  
  .menu li:last-child {
    margin-right: 0;
  }
  
  .menu li a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    transition: color 0.3s ease;
  }
  
  .menu li a:hover {
    color: #ffb700;
  }
  .active {
    background-color: #ffb700;
  }
  